mat-card {
  min-width: 150px;
  max-width: 1000px;
}

form {
  margin-left: 8px;
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
}

table {
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
}

.layout-list {
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
}

button {
  margin-left: 5px;
  max-width: 100px !important;
}
